<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Interface Preferences -->
    <preference for="Hryvinskyi\HeadTagManager\Api\HeadTagManagerInterface"
                type="Hryvinskyi\HeadTagManager\Model\HeadTagManager"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Cache\HeadElementCacheStrategyInterface"
                type="Hryvinskyi\HeadTagManager\Model\Cache\HeadElementCacheStrategy"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Serializer\HeadElementSerializerInterface"
                type="Hryvinskyi\HeadTagManager\Model\Serializer\HeadElementSerializer"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Registry\HeadElementFactoryRegistryInterface"
                type="Hryvinskyi\HeadTagManager\Model\Registry\HeadElementFactoryRegistry"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Serializer\Strategy\SerializationStrategyRegistryInterface"
                type="Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\SerializationStrategyRegistry"/>

    <!-- Cache Strategy Configuration -->
    <type name="Hryvinskyi\HeadTagManager\Model\Cache\HeadElementCacheStrategy">
        <arguments>
            <argument name="enabled" xsi:type="boolean">true</argument>
            <argument name="cacheLifetime" xsi:type="number">2592000</argument> <!-- 30 days -->
            <argument name="cacheKeyPrefix" xsi:type="string">hryvinskyi_head_tag_manager_</argument>
            <argument name="cache" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Cache\Type</argument>
        </arguments>
    </type>

    <!-- Factory Registry Configuration -->
    <type name="Hryvinskyi\HeadTagManager\Model\Registry\HeadElementFactoryRegistry">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="meta" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\MetaElementFactory</item>
                <item name="link" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\LinkElementFactory</item>
                <item name="script" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\ScriptElementFactory</item>
                <item name="style" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\StyleElementFactory</item>
            </argument>
        </arguments>
    </type>

    <!-- Serialization Strategy Registry Configuration -->
    <type name="Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\SerializationStrategyRegistry">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="meta" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\MetaElementSerializationStrategy</item>
                <item name="link" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\LinkElementSerializationStrategy</item>
                <item name="script" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\ScriptElementSerializationStrategy</item>
                <item name="style" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\StyleElementSerializationStrategy</item>
            </argument>
        </arguments>
    </type>

    <!-- Virtual Types for Different Cache Strategies -->

    <!-- Disabled Cache Strategy -->
    <virtualType name="Hryvinskyi\HeadTagManager\Model\Cache\DisabledCacheStrategy"
                 type="Hryvinskyi\HeadTagManager\Model\Cache\NullCacheStrategy"/>

    <!-- Short-lived Cache Strategy (1 hour) -->
    <virtualType name="Hryvinskyi\HeadTagManager\Model\Cache\ShortLivedCacheStrategy"
                 type="Hryvinskyi\HeadTagManager\Model\Cache\HeadElementCacheStrategy">
        <arguments>
            <argument name="enabled" xsi:type="boolean">true</argument>
            <argument name="cacheLifetime" xsi:type="number">3600</argument> <!-- 1 hour -->
            <argument name="cacheKeyPrefix" xsi:type="string">hryvinskyi_head_tag_manager_short_</argument>
        </arguments>
    </virtualType>

    <!-- Long-lived Cache Strategy (1 year) -->
    <virtualType name="Hryvinskyi\HeadTagManager\Model\Cache\LongLivedCacheStrategy"
                 type="Hryvinskyi\HeadTagManager\Model\Cache\HeadElementCacheStrategy">
        <arguments>
            <argument name="enabled" xsi:type="boolean">true</argument>
            <argument name="cacheLifetime" xsi:type="number">31536000</argument> <!-- 1 year -->
            <argument name="cacheKeyPrefix" xsi:type="string">hryvinskyi_head_tag_manager_long_</argument>
        </arguments>
    </virtualType>

    <!-- Different HeadTagManager instances for different use cases -->

    <!-- Standard HeadTagManager with default caching -->
    <type name="Hryvinskyi\HeadTagManager\Model\HeadTagManager">
        <arguments>
            <argument name="cacheStrategy" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Cache\LongLivedCacheStrategy</argument>
        </arguments>
    </type>

    <!-- HeadTagManager without caching for development -->
    <virtualType name="Hryvinskyi\HeadTagManager\Model\HeadTagManagerNoCaching"
                 type="Hryvinskyi\HeadTagManager\Model\HeadTagManager">
        <arguments>
            <argument name="cacheStrategy" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Cache\DisabledCacheStrategy</argument>
        </arguments>
    </virtualType>

    <!-- HeadTagManager with short-lived cache for dynamic content -->
    <virtualType name="Hryvinskyi\HeadTagManager\Model\HeadTagManagerShortCache"
                 type="Hryvinskyi\HeadTagManager\Model\HeadTagManager">
        <arguments>
            <argument name="cacheStrategy" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Cache\ShortLivedCacheStrategy</argument>
        </arguments>
    </virtualType>

    <!-- HeadTagManager with long-lived cache for static content -->
    <virtualType name="Hryvinskyi\HeadTagManager\Model\HeadTagManagerLongCache"
                 type="Hryvinskyi\HeadTagManager\Model\HeadTagManager">
        <arguments>
            <argument name="cacheStrategy" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Cache\LongLivedCacheStrategy</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\App\Response\Http">
        <plugin name="hryvinskyi-head-additional-tags-render"
                type="Hryvinskyi\HeadTagManager\Plugin\Framework\App\Response\Http"
                sortOrder="9000"/>
    </type>
</config>
