<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Interface Preferences -->
    <preference for="Hryvinskyi\HeadTagManager\Api\HeadTagManagerInterface"
                type="Hryvinskyi\HeadTagManager\Model\HeadTagManager"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Cache\HeadElementCacheStrategyInterface"
                type="Hryvinskyi\HeadTagManager\Model\Cache\HeadElementCacheStrategy"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Serializer\HeadElementSerializerInterface"
                type="Hryvinskyi\HeadTagManager\Model\Serializer\HeadElementSerializer"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Registry\HeadElementFactoryRegistryInterface"
                type="Hryvinskyi\HeadTagManager\Model\Registry\HeadElementFactoryRegistry"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Serializer\Strategy\SerializationStrategyRegistryInterface"
                type="Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\SerializationStrategyRegistry"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Block\BlockCacheDetectorInterface"
                type="Hryvinskyi\HeadTagManager\Model\Block\BlockCacheDetector"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Block\HeadElementTrackerInterface"
                type="Hryvinskyi\HeadTagManager\Model\Block\HeadElementTracker"/>
    <preference for="Hryvinskyi\HeadTagManager\Api\Cache\BlockHeadElementCacheInterface"
                type="Hryvinskyi\HeadTagManager\Model\Cache\BlockHeadElementCache"/>

    <!-- Factory Registry Configuration -->
    <type name="Hryvinskyi\HeadTagManager\Model\Registry\HeadElementFactoryRegistry">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="meta" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\MetaElementFactory</item>
                <item name="link" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\LinkElementFactory</item>
                <item name="script" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\ScriptElementFactory</item>
                <item name="style" xsi:type="object">Hryvinskyi\HeadTagManager\Model\HeadElement\Factory\StyleElementFactory</item>
            </argument>
        </arguments>
    </type>

    <!-- Serialization Strategy Registry Configuration -->
    <type name="Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\SerializationStrategyRegistry">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="meta" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\MetaElementSerializationStrategy</item>
                <item name="link" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\LinkElementSerializationStrategy</item>
                <item name="script" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\ScriptElementSerializationStrategy</item>
                <item name="style" xsi:type="object">Hryvinskyi\HeadTagManager\Model\Serializer\Strategy\StyleElementSerializationStrategy</item>
            </argument>
        </arguments>
    </type>
</config>
