<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hryvinskyi\HeadTagManager\Api\HeadTagManagerInterface"
                type="Hryvinskyi\HeadTagManager\Model\HeadTagManager"/>


    <type name="Magento\Framework\App\Response\Http">
        <plugin name="hryvinskyi-head-additional-tags-render"
                type="Hryvinskyi\HeadTagManager\Plugin\Framework\App\Response\Http"
                sortOrder="9000"/>
    </type>
</config>
