<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="view_block_abstract_to_html_before">
        <observer name="hryvinskyi_head_tag_manager_block_html_observer"
                  instance="Hryvinskyi\HeadTagManager\Observer\BlockHtmlBeforeObserver"/>
    </event>
    <event name="view_block_abstract_to_html_after">
        <observer name="hryvinskyi_head_tag_manager_block_html_observer"
                  instance="Hryvinskyi\HeadTagManager\Observer\BlockHtmlAfterObserver"/>
    </event>
</config>
